/* -------------------------------- 

Primary style

-------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 90%;
  font-family: "Roboto", sans-serif;
  color: #3d3536;
  background-color: white;
  overflow-y:scroll;
}

body, html {
  /* important */
  height: 100%;
}

a {
  color: #3d3536;
  text-decoration: none;
}

footer {
  padding: 2em 0em 5em 0em;
  line-height: 12px;
  text-align: center;
  width: 100%;
  color:#999999;
  font-size: 12px;
  border-top: 1px solid #CCCCCC;
}

/* -------------------------------- 

Reusable parts of our design

-------------------------------- */
.container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 768px;
  margin: 0 auto;
}
.container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: rgba(255, 255, 255, 0.88);
  box-shadow: 0 1px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
.header:after {
  content: "";
  display: table;
  clear: both;
}
.header #logo {
  float: left;
  line-height: 50px;
  margin-left: 20px;
}
.header #logo a {
  color: #21649A;
  font-weight: bold;
  font-size: 15px;
}
.header #logo img {
  display: block;
}

.main-nav {
  float: right;
  margin-right: 5%;
  width: 44px;
  height: 100%;
  background: url("../img/icon-menu.svg") no-repeat center center;
  background-size: 44px 44px;
  cursor: pointer;
}
.main-nav ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.main-nav ul.is-visible {
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
}
.main-nav a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 5%;
  background: #ffffff;
  border-top: 1px solid #848484;
  color: #8e7d7f;
}
@media only screen and (min-width: 768px) {
  .main-nav {
    float: none;
    margin: auto;
    width: 515px;
    height: auto;
    background: none;
    cursor: auto;
  }
  .main-nav ul {
    position: static;
    width: auto;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    line-height: 50px;
  }
  .main-nav ul.is-visible {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  .main-nav li {
    display: inline-block;
    margin-left: 1em;
  }
  .main-nav a {
    display: inline-block;
    height: auto;
    line-height: normal;
    background: transparent;
    padding: .6em 1em;
    border-top: none;
    color: #3d3536;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    font-size: 0.875rem;
  }
  .no-touch .main-nav a:hover {
    border-bottom: 8px solid #21649A;
  }
}

.main-content {
  /* you need to assign a min-height to the main content so that the children can inherit it*/
  height: 100%;
  position: relative;
  z-index: 1;
}

.fixed-bg {
  position: relative;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
}
.fixed-bg h1, .fixed-bg h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  max-width: 1170px;
  text-align: center;
  font-size: 30px;
  font-size: 1.875rem;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  color: white;
}
.fixed-bg.bg-1 {
  background-image: url("../img/bg1.jpg");
}
.fixed-bg.bg-2 {
  background-image: url("../img/bg2.jpg");
}
.fixed-bg.bg-3 {
  background-image: url("../img/bg3.jpg");
}
.fixed-bg.bg-4 {
  background-image: url("../img/bg4.jpg");
}
@media only screen and (min-width: 768px) {
  .fixed-bg h1, .fixed-bg h2 {
    font-size: 36px;
  }
}
@media only screen and (min-width: 1170px) {
  .fixed-bg {
    background-attachment: fixed;
  }
  .fixed-bg h1, .fixed-bg h2 {
    font-size: 50px;
    font-weight: 700;
  }
}

.scrolling-bg {
  position: relative;
  min-height: 100%;
  padding: 4em 0;
  line-height: 1.6;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.scrolling-bg.color-1 {
  background-color: #3d3536;
  color: #a6989a;
}
.scrolling-bg.color-2 {
  background-color: #99a478;
  color: #3d3536;
}
.scrolling-bg.color-3 {
  background-color: #b4d7a8;
  color: #3d3536;
}
@media only screen and (min-width: 768px) {
  .scrolling-bg {
    padding: 8em 0;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 2;
    font-weight: 300;
  }
}

/* -------------------------------- 

Modules 

-------------------------------- */
.module-upspace {
  height: 50px;
}
.module-content-wraper {

}
.module-content {
	margin: 20px 20px 20px 20px;
}



.supervisor-table {
	width:100%;
	text-align:center;
	height: 30px;
	line-height: 30px;
}
.supervisor-tr:hover {
	background-color: #F9F9F9;
}
.supervisor-td {
	border: 1px solid #CCCCCC;
}

/* -------------------------------- 

Buttons 

-------------------------------- */
.board-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-bottom:5px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.board-button:hover {
  background-color: #2A932E;
}

/* -------------------------------- 

Input-texts 

-------------------------------- */
.text {
	background-color: #F2F2F2;
	margin-bottom: 5px;
	font-size: 100%;
	color: #2F362A;
	height: 41px;
	border: 1px solid #DDDDDD;
	width: 100%;
	padding: 7px
}
.text:focus {
	border: 1px solid #777777;
	outline: none;
}
.search-text {
	background-color: #F2F2F2;
	margin-bottom: 5px;
	font-size: 100%;
	color: #2F362A;
	height: 41px;
	border: 1px solid #DDDDDD;
	width: 300px;
	padding: 7px
}
.search-text:focus {
	border: 1px solid #4CAF50;
	outline: none;
}

/* -------------------------------- 

Norifications

-------------------------------- */
#patient-add-veil {
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  background: -webkit-linear-gradient(left, #F1FFDE , #79E1FF); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #F1FFDE, #79E1FF); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #F1FFDE, #79E1FF); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #F1FFDE , #79E1FF); /* Standard syntax (must be last) */
  opacity: 0.5;
  filter: Alpha(opacity=50); 
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  -ms-opacity: 0.5;
  -o-opacity: 0.5;
}
#patient-add-box {
  background-color:#FFFFFF;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  opacity: 1.0;
   filter: Alpha(opacity=100); 
  -webkit-opacity: 1.0;
  -moz-opacity: 1.0;
  -ms-opacity: 1.0;
  -o-opacity: 1.0;
  z-index: 999;
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  -webkit-animation-name: example;
  -moz-animation-name: example;
  -ms-animation-name: example;
  -o-animation-name: example;
   animation-name: example; 
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s; 
  -ms-animation-duration: 1s; 
  -o-animation-duration: 1s;
  animation-duration: 1s;
}
@media only screen and (min-width: 768px) {
  #patient-add-box {
    width: 1000px;
    top:50%;
    left:50%;
    margin: -425px 0px 0px -500px;
  }
}
/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    from {
	   opacity: 0.0;
	   filter: Alpha(opacity=0); 
	  -webkit-opacity: 0.0;
	  -moz-opacity: 0.0;
	  -ms-opacity: 0.0;
	  -o-opacity: 0.0;  
    }
    to {
	   opacity: 1.0;
	   filter: Alpha(opacity=100); 
	  -webkit-opacity: 1.0;
	  -moz-opacity: 1.0;
	  -ms-opacity: 1.0;
	  -o-opacity: 1.0;      
    }
}
/* Standard syntax */
@keyframes example {
    from {
	   opacity: 0.0;
	   filter: Alpha(opacity=0); 
	  -webkit-opacity: 0.0;
	  -moz-opacity: 0.0;
	  -ms-opacity: 0.0;
	  -o-opacity: 0.0;  
    }
    to {
	   opacity: 1.0;
	   filter: Alpha(opacity=100); 
	  -webkit-opacity: 1.0;
	  -moz-opacity: 1.0;
	  -ms-opacity: 1.0;
	  -o-opacity: 1.0;      
    }
}
.patient-add-title{
	text-align: left;
	position: relative;
	width: 100%;
	background-color: #FFFFFF;
	padding: 0 1.3em;
	font-size: 140%;
	line-height: 70px;
	border-bottom: 1px solid #DDDDDD;
}
.patient-add-content{
	position: relative;
	padding: 1em 2em;
	width: 100%;
	background-color: #FFFFFF;
	line-height: 25px;
	font-size: 120%;
}
.patient-add-button{
	display: block;
	position: relative;
	width: 100%;
	background-color: #ffffff;
	padding: 0 1.3em;
	line-height: 70px;
	text-align: center;
}
#patient-add-submit{
	font-size: 140%;
	font-weight: 700;
	border: none;
	background-color:#FFFFFF;
	padding: 1em;
	color: #000000;
}
#patient-add-submit:focus {
	outline: none;
}
#patient-add-cancel{
	font-size: 140%;
	font-weight: 700;
	border: none;
	background-color:#FFFFFF;
	padding: 1em;
	color: #000000;
}
#patient-add-cancel:focus {
	outline: none;
}
#message-veil {
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  background: -webkit-linear-gradient(left, #FF798C , #79E1FF); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #FF798C, #79E1FF); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #FF798C, #79E1FF); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #FF798C , #79E1FF); /* Standard syntax (must be last) */
  opacity: 0.5;
  filter: Alpha(opacity=50); 
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  -ms-opacity: 0.5;
  -o-opacity: 0.5;
}
#message-box {
  background-color:#FFFFFF;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  opacity: 1.0;
   filter: Alpha(opacity=100); 
  -webkit-opacity: 1.0;
  -moz-opacity: 1.0;
  -ms-opacity: 1.0;
  -o-opacity: 1.0;
  z-index: 1000;
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  -webkit-animation-name: example;
  -moz-animation-name: example;
  -ms-animation-name: example;
  -o-animation-name: example;
   animation-name: example; 
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s; 
  -ms-animation-duration: 1s; 
  -o-animation-duration: 1s;
  animation-duration: 1s;
}
@media only screen and (min-width: 768px) {
  #message-box {
    width: 500px;
    height: 300px;
    top:50%;
    left:50%;
    margin: -353px 0px 0px -250px;
  }
}
/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    from {
	   opacity: 0.0;
	   filter: Alpha(opacity=0); 
	  -webkit-opacity: 0.0;
	  -moz-opacity: 0.0;
	  -ms-opacity: 0.0;
	  -o-opacity: 0.0;  
    }
    to {
	   opacity: 1.0;
	   filter: Alpha(opacity=100); 
	  -webkit-opacity: 1.0;
	  -moz-opacity: 1.0;
	  -ms-opacity: 1.0;
	  -o-opacity: 1.0;      
    }
}
/* Standard syntax */
@keyframes example {
    from {
	   opacity: 0.0;
	   filter: Alpha(opacity=0); 
	  -webkit-opacity: 0.0;
	  -moz-opacity: 0.0;
	  -ms-opacity: 0.0;
	  -o-opacity: 0.0;  
    }
    to {
	   opacity: 1.0;
	   filter: Alpha(opacity=100); 
	  -webkit-opacity: 1.0;
	  -moz-opacity: 1.0;
	  -ms-opacity: 1.0;
	  -o-opacity: 1.0;      
    }
}
.message-title{
	text-align: left;
	position: relative;
	height: 70px;
	width: 100%;
	background-color: #FFFFFF;
	padding: 0 1.3em;
	font-size: 140%;
	line-height: 70px;
}
.message-content{
	position: relative;
	padding: 2em 2em;
	width: 100%;
	height: 160px;
	background-color: #FFFFFF;
	line-height: 25px;
	overflow-y: auto;
}
.message-button{
	display: block;
	position: relative;
	height: 70px;
	width: 100%;
	background-color: #FFFFFF;
	padding: 0 1.3em;
	line-height: 70px;
	text-align: right;
}
#message-close {
	font-size: 140%;
	font-weight: 700;
	border: none;
	background-color:#FFFFFF;
	
}
#message-delete {
	font-size: 140%;
	font-weight: 700;
	border: none;
	background-color:#FFFFFF;
	
}

/* -------------------------------- 

Images

-------------------------------- */
#wait {
	z-index: 1000;
	position: fixed;
	width: 64px;
	height: 64px;
	top:50%;
	left:50%;
	margin: -32px 0px 0px -32px; 
}

/* -------------------------------- 

Paging

-------------------------------- */
nav[role="navigation"] {
  text-align: center;
}
.page-li{
  display: inline-block;
}
.cd-pagination {
  width: 100%;
  margin: 0em auto 1em;
  text-align: center;
}
.cd-pagination.page-li {
  /* hide numbers on small devices */
  display: inline-block;
  margin: 0 .2em;
}
.cd-pagination .page-li.button {
  /* make sure prev next buttons are visible */
  display: inline-block;
}
.cd-pagination a, .cd-pagination span {
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* use padding and font-size to change buttons size */
  padding: .6em .8em;
  font-size: 100%;
}
.cd-pagination a {
  color: #333333;
  border: 1px solid #e6e6e6;
  border-radius: 0.25em;
}
.no-touch .cd-pagination a:hover {
  background-color: #dddddd;
}
.cd-pagination a.disabled {
  /* button disabled */
  color: rgba(46, 64, 87, 0.4);
  pointer-events: none;
}
.cd-pagination a.disabled::before, .cd-pagination a.disabled::after {
  opacity: .4;
}
.cd-pagination .button:first-of-type a::before {
  /*content: '\00ab  ';*/
}
.cd-pagination .button:last-of-type a::after {
  /*content: ' \00bb'; */
}
.cd-pagination .current {
  /* selected number */
  background-color: #dddddd;
  pointer-events: none;
  color: #2F362A;
}
@media only screen and (min-width: 768px) {
  .cd-pagination .page-li {
    display: inline-block;
  }
}
.cd-pagination.no-space {
  width: auto;
  max-width: none;
  display: inline-block;
  border-radius: 0.25em;
}
.cd-pagination.no-space:after {
  content: "";
  display: table;
  clear: both;
}
.cd-pagination.no-space .page-li {
  margin: 0;
  float: left;
  border-right: 1px solid #b9b9b9;
}
.cd-pagination.no-space .page-li:last-of-type {
  border-right: none;
}
.cd-pagination.no-space a, .cd-pagination.no-space span {
  float: left;
  border-radius: 0;
  padding: .8em 1em;
  border: none;
}
.cd-pagination.no-space .page-li:first-of-type a {
  border-radius: 0.25em 0 0 0.25em;
}
.cd-pagination.no-space .page-li:last-of-type a {
  border-radius: 0 0.25em 0.25em 0;
}

/* -------------------------------- 

Layout

-------------------------------- */
.layout {

}
.layout:after {
    content: "";
    clear: both;
    display: block;
}
[class^="col-"] {
    float: left;
    word-wrap: break-word;
    padding: 0 0 0 0;
}
/* main 에서 12가지 grid 로 화면 분활*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
@media only screen and (max-width: 768px) {
  [class^="col-"] {
    width: 100%;
    padding: 0 1.5%;
  }
}

